*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

#Exclude build file
/build/

#Include necessary user libs
!json-simple-1.1.1.jar


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/
*.classpath
sysProps.xml